body{
        font-family: 'Segoe UI', sans-serif;
        text-align: center;
        background-color: #FFFFFF;
        margin: 0;
        padding: 0;
    }

.navbar {
            background-color: #006DB2; 
            padding: 0.5em 0;
        }

.navbar ul  {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex; 
                justify-content: center;
            }

.navbar li  {
                margin: 0 15px;
            }

.navbar a   {
                text-decoration: none;
                color: white;
                font-weight: bold;
                padding: 10px 15px;
                transition: background-color 0.3s ease;
                border-radius: 5px;
            }

.navbar a:hover {
                    background-color: #bfff00; 
                    color: white;
                }

.neon   {
            font-size:xx-large;
            color: #FFA500;
            text-shadow: 0 0 5px #FFD700, 0 0 10px #FFD700, 0 0 20px #FFD700;
        }

.maquina{
            font-size:x-large;
            font-family: 'Courier New', monospace;
            white-space: nowrap;
            overflow: hidden;
            border-right: 2px solid;
            animation: escribir 4s steps(30) infinite;
        }
        
@keyframes escribir {
                        from { width: 0; }
                        to { width: 100%; }
                    }

.zoom-hover {
                font-size:x-large;
                transition: transform 0.3s ease;
            }


.zoom-hover:hover   {
                        font-size:x-large
                        transform: scale(1.2);
                    }

.card   {
            max-width: 200px;
            margin: auto;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.2);
            overflow: hidden;
            transition: transform 0.3s ease;
        }

.card:hover {
                transform: scale(1.03);
            }

.card img   {
                width: 100%;
                height: auto;
                display: block;
            }

.card-content   {
                    padding: 10px;
                }

.card-title {
                font-size: 1.5em;
                color: #2e8b57;
                margin-bottom: 05px;
                text-align: center;
            }

.card-description   {
                        font-size: 1em;
                        color: #333;
                        text-align: justify;
                    }

 .carrito   {
                margin-top: 30px;
                padding: 10px;
                background-color: #eafbea;
                border-radius: 10px;
                max-width: 300px;
                margin-left: auto;
                margin-right: auto;
                box-shadow: 0 2px 5px rgba(0,0,0,0.2);
            }

.carrito h2 {
                color: #2e8b57;
                margin-bottom: 15px;
                text-align: center;
            }

.carrito ul {
                list-style: none;
                padding: 0;
            }

.carrito li {
                padding: 5px;
                border-bottom: 1px solid #ccc;
                color: #333;
            }

.boton  {
            background-color: #2e8b57;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }

form{
        background-color: #D6F9E8;
        padding: 20px;
        border-radius: 8px;
        max-width: 500px;
        margin: auto;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }

label   {
            display: block;
            margin-top: 10px;
            font-weight: bold;
            color: #000000;
        }

input, select   {
                    width: 100%;
                    padding: 8px;
                    margin-top: 5px;
                    border: 1px solid #3A998B;
                    border-radius: 5px;
                }


